  <h4 class="my-4">Producer : </h4>

  <h6>Send random messages</h6>
  Count : <input type="number" class="form-control" style="width: 100px; display: inline;" #countInput>
  <button class="btn btn-primary" (click)="onSendClicked(countInput.value)" #sendButton>Send</button>
  <br>
  <div [ngClass]="{'text-success':!badStatusCode, 'text-danger':badStatusCode}">
    {{message}}
  </div>
