<!--The content below is only a placeholder and can be replaced.-->
<div class="container mt-5">

  <h2 class="my-5">Kafka Demo App</h2>

  <app-producer></app-producer>

  <hr class="my-4">

  <app-consumers></app-consumers>
</div>
