<div class="card" style="overflow-y: auto; height: 500px;">
  <div class="card-body">
    <h5 class="card-title">Consumer {{cid}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Group : {{gid}}</h6>
    <button class="btn btn-primary" (click)="onRefreshClicked()">Refresh</button>
    <button class="btn btn-danger" (click)="onClearClicked()">Clear</button>
    <div class="card-text">
      <div *ngIf="displayMessage" [ngClass]="{'text-success':!badStatusCode, 'text-danger':badStatusCode}">
        {{message}}
      </div>
      <div *ngIf="loadedList" class="pt-3">
        <app-consumer-data-view *ngFor="let consumerRecord of consumerRecordList" [consumerRecord]="consumerRecord"></app-consumer-data-view>
      </div>
    </div>
  </div>
</div>
