<div class="my-2">
  <h4 class="my-4">Consumers</h4>
  <div class="row">

    <div class="col-sm-4">
      <app-consumer [cid]="1" [gid]="'cg1'"></app-consumer>
    </div>


    <div class="col-sm-4">
      <app-consumer [cid]="2" [gid]="'cg1'"></app-consumer>
    </div>


    <div class="col-sm-4">
      <app-consumer [cid]="3" [gid]="'cg2'"></app-consumer>
    </div>
  </div>
</div>
