<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Key : {{consumerRecord.key}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Partition : {{consumerRecord.partition}}, Offset :
      {{consumerRecord.offset}}</h6>
    <p class="card-text">
      {{value}}
    </p>
  </div>
</div>
